.Icones{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 100%;
    &:hover{
        background-color: rgba(50, 205, 50, 0.699);
    }
    img{
        width: 25px;
    }

}